<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <title>Document</title>
</head>
<body>
     <div class="main-content">
        {{>header}}

        <form>
            <input placeholder="Location" value = ''>
            <button>
                <i class="fas fa-search"></i>
            </button>
        </form>

        <p id="locationMsg"></p>
        <div id="weatherMsg">
            <p id="description"></p>
            <img src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png" alt="weather icon" id="weatherImg" width="80" height="80"> 
            <p id="temperature"></p>
            <p id="feelsLike"></p>
            <p id="precipitation"></p>
            <p id="humidity"></p>
            <p id="visibility"></p>
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>